@import './variables';
@import './responsive';

table,
th,
td {
  border: 1px solid $clr-gray;
  border-collapse: collapse;
  padding: 0.3rem 0.75rem;
}

table {
  direction: ltr;
  width: 95%;
  margin: 2rem auto 4rem auto;
}

caption {
  margin-bottom: 1rem;
}

th,
td {
  @include phone-only {
    font-size: $fs-200;
  }
}

td:nth-child(1),
td:nth-child(5),
td:nth-child(4) {
  width: 10%;
  text-align: center;
}
td:nth-child(2) {
  width: 40%;
}
td:nth-child(3) {
  width: 30%;
}

td:nth-child(5) {
  &.false {
    color: red;
  }
  &.true {
    color: green;
  }
}

tfoot {
  background-color: $clr-gray;
  // tr {
  //   td:nth-child(2),
  //   td:nth-child(3) {
  //     border-right-color: inherit;
  //   }
  // }
}

#table-back,
#table-forward {
  font-weight: 800;
  font-size: $fs-600;
  background-color: inherit;
  width: 100%;
}

#table-back.disable,
#table-forward.disable {
  color: red;
}
