@import './variables';

table,
th,
td {
  border: 1px solid $clr-gray;
  border-collapse: collapse;
  padding: 0.3rem 0.75rem;
}

table {
  direction: ltr;
  width: 95%;
  margin: auto;
}

caption {
  margin-bottom: 1rem;
}

td:nth-child(1),
td:nth-child(5),
td:nth-child(4) {
  width: 10%;
  text-align: center;
}

td:nth-child(5) {
  &.false {
    color: red;
  }
  &.true {
    color: green;
  }
}
