@import './responsive';

/* Colors */
$clr-primary: #0468bf;
$clr-light: #c4dcf0;
$clr-gray: #c8c8c8;
$clr-white: #fff;
$clr-dark: #000;
$clr-warning: #e74040;

@include tablet-portrait {
  :root {
  }
}
:root {
  --fs-900: 5rem;
  --fs-800: 2rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1.15rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --fs-200: 0.7rem;
}
@include phone {
  :root {
    --fs-900: 1.5rem;
    --fs-800: 1.15rem;
    --fs-700: 1rem;
    --fs-600: 0.9rem;
    --fs-500: 0.8rem;
    --fs-400: 0.75rem;
    --fs-300: 0.75rem;
    --fs-200: 0.65rem;
  }
}

$fs-900: var(--fs-900);
$fs-800: var(--fs-800);
$fs-700: var(--fs-700);
$fs-600: var(--fs-600);
$fs-500: var(--fs-500);
$fs-400: var(--fs-400);
$fs-300: var(--fs-300);
$fs-200: var(--fs-200);

// not work

/* font-families */
$ff-sans: 'Cairo', sans-serif;
