/* Colors */
/* font-sizes */
/* font-families */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;800&family=Inter:wght@400;600;700&display=swap");
/* ----------------------------- */
/* Custom Properties           */
/* ----------------------------- */
/* font-sizes */
/* ----------------------------- */
/* Reset                         */
/* ----------------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
article {
  font-size: 1rem;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Set up the body */
body {
  font-family: "Cairo", sans-serif;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  line-height: 1.5;
  min-height: 100svh;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make form elements easier to work with */
input,
select,
textarea,
button {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ----------------------------- */
/* Utility Classes               */
/* ----------------------------- */
.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-md {
  gap: 1rem;
}

.gap-lg {
  gap: 2rem;
}

.grid {
  display: grid;
}

/* it means all elements that have /> before it */
/*__________   .flow > * + * {   ___________*/
.flow > *:where(:not(:last-child)) {
  margin-bottom: 1rem;
  /* outline: 1px solid red; */
}

.lsn {
  list-style: none;
}

.reset-link a {
  text-decoration: none;
  color: inherit;
}

.mar-r {
  margin-right: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Colors                      */
.bg-primary {
  background-color: #0468bf;
}

.bg-gray {
  background-color: #c8c8c8;
}

.bg-dark {
  background-color: #000;
}

.bg-light {
  background-color: #c4dcf0;
}

.bg-white {
  background-color: #fff;
}

.text-primary {
  color: #0468bf;
}

.text-gray {
  color: #c8c8c8;
}

.text-dark {
  color: #000;
}

.text-light {
  color: #c4dcf0;
}

.text-white {
  color: #fff;
}

.box {
  padding-top: 70px;
  padding-left: 20px;
  height: 116px;
}

/* typography */
.ff-sans-cond {
  font-family: "Cairo", sans-serif;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: 5rem;
}

.fs-800 {
  font-size: 2rem;
}

.fs-700 {
  font-size: 1.5rem;
}

.fs-600 {
  font-size: 1.25rem;
}

.fs-500 {
  font-size: 1.15rem;
}

.fs-400 {
  font-size: 1rem;
}

.fs-300 {
  font-size: 0.875rem;
}

.fs-200 {
  font-size: 0.7rem;
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

.large-button {
  position: relative;
  display: grid;
  place-items: center;
  padding-inline: 1em;
  aspect-ratio: 1;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  text-decoration: none;
  z-index: 1;
}

.border-none {
  border: none !important;
}

/* Colors */
/* font-sizes */
/* font-families */
button {
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 1rem;
}

.btn {
  width: 100%;
  padding: 0.5rem 3rem;
  border-radius: 1.5rem;
}

.btn-large {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #c8c8c8;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  /* Rounded sliders */
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.4s;
}
.switch input:checked + .slider {
  background-color: #0468bf;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #0468bf;
}
.switch input:checked + .slider:before {
  transform: translateX(26px);
}
.switch .slider.round {
  border-radius: 34px;
}
.switch .slider.round:before {
  border-radius: 50%;
}

/* Colors */
/* font-sizes */
/* font-families */
table,
th,
td {
  border: 1px solid #c8c8c8;
  border-collapse: collapse;
  padding: 0.3rem 0.75rem;
}

table {
  direction: ltr;
  width: 95%;
  margin: 2rem auto 4rem auto;
}

caption {
  margin-bottom: 1rem;
}

td:nth-child(1),
td:nth-child(5),
td:nth-child(4) {
  width: 10%;
  text-align: center;
}

td:nth-child(2) {
  width: 40%;
}

td:nth-child(3) {
  width: 30%;
}

td:nth-child(5).false {
  color: red;
}
td:nth-child(5).true {
  color: green;
}

tfoot {
  background-color: #c8c8c8;
}

#table-back,
#table-forward {
  font-weight: 800;
  font-size: 1.25rem;
  background-color: inherit;
  width: 100%;
}

#table-back.disable,
#table-forward.disable {
  color: red;
}

/* Colors */
/* font-sizes */
/* font-families */
.container--subjects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-items: start;
}
.container--subjects header {
  margin-bottom: 2.5rem;
}
.container--subjects header .logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 1rem auto;
}
.container--subjects header .logo img {
  background-color: white;
  border-radius: 100%;
}
.container--subjects header .professor-info {
  text-align: center;
}
.container--subjects header .professor-info img {
  margin: auto;
  width: 150px;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
.container--subjects .header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-right: 5px;
  margin-bottom: 0.25rem;
}
.container--subjects .list-container .list--item {
  padding: 0.85rem 1.5rem 0.85rem 0;
  cursor: pointer;
  margin: 0;
  border-bottom: 1px solid #fff;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.container--subjects .list-container .list--item:hover {
  background-color: #c8c8c8;
  color: #000;
  border-color: #0468bf;
}
.container--subjects .list-container .list--item.active {
  background-color: #fff;
  color: #000;
  border-color: #0468bf;
}
.container--subjects .buttons-box {
  width: 80%;
  margin: auto;
}

/* Colors */
/* font-sizes */
/* font-families */
.container--lectures {
  padding: 2rem;
}
.container--lectures h1 {
  text-align: center;
  margin-bottom: 2rem;
}
.container--lectures .lectures {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.container--lectures .lectures--card,
.container--lectures .lectures .general {
  width: 80%;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid gray;
}
.container--lectures .lectures .general {
  padding: 0.75rem 0;
  text-align: center;
  font-weight: 700;
}
.container--lectures .lectures--card {
  padding: 1rem 1.5rem;
  height: 180px;
  cursor: pointer;
  transition: background-color 700ms ease;
}
.container--lectures .lectures--card:hover, .container--lectures .lectures--card.active {
  background-color: #c8c8c8;
}
.container--lectures .lectures--card h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.container--lectures .lectures--card .number {
  font-size: 2rem;
  font-weight: 700;
  line-height: 40px;
  display: block;
}
.container--lectures .lectures--card .date {
  display: inline-block;
  direction: ltr;
  margin-top: 1.5rem;
  font-weight: 600;
}

/* Colors */
/* font-sizes */
/* font-families */
.container--attendances header .lec-info {
  padding: 2rem 2.5rem;
}
.container--attendances header .lec-info .description {
  margin-top: 1rem;
}
.container--attendances header .lec-info .date {
  margin: auto;
}
.container--attendances header .lec-info .date span {
  font-weight: 400;
}
.container--attendances .lec-control {
  margin: 2rem;
}
.container--attendances .lec-control--box {
  margin-bottom: 2rem;
}
.container--attendances .lec-control--box .img {
  width: 200px;
  margin-inline: 2rem;
}
.container--attendances .lec-table .header {
  text-align: center;
}

/* Colors */
/* font-sizes */
/* font-families */
/* ------------ sections container ----------------- */
.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: minmax(200px, 300px) minmax(300px, 370px) minmax(500px, 1fr);
}/*# sourceMappingURL=style.css.map */