/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;800&family=Inter:wght@400;600;700&display=swap");
:root {
  --fs-900: 5rem;
  --fs-800: 2rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1.15rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --fs-200: 0.7rem;
}

@media (max-width: 599px) {
  :root {
    --fs-900: 1.5rem;
    --fs-800: 1.15rem;
    --fs-700: 1rem;
    --fs-600: 0.9rem;
    --fs-500: 0.8rem;
    --fs-400: 0.75rem;
    --fs-300: 0.75rem;
    --fs-200: 0.65rem;
  }
}
/* font-families */
/* ----------------------------- */
/* Reset                         */
/* ----------------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
li,
article {
  font-size: var(--fs-400);
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Set up the body */
body {
  font-family: "Cairo", sans-serif;
  font-size: var(--fs-400);
  background-color: #fff;
  color: #000;
  line-height: 1.5;
  min-height: 100svh;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make form elements easier to work with */
input,
select,
textarea,
button {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ----------------------------- */
/* Utility Classes               */
/* ----------------------------- */
.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-md {
  gap: 1rem;
}

.gap-lg {
  gap: 2rem;
}

.grid {
  display: grid;
}

/* it means all elements that have /> before it */
/*__________   .flow > * + * {   ___________*/
.flow > *:where(:not(:last-child)) {
  margin-bottom: 1rem;
  /* outline: 1px solid red; */
}

.lsn {
  list-style: none;
}

.reset-link a {
  text-decoration: none;
  color: inherit;
}

.mar-r {
  margin-right: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Colors                      */
.bg-primary {
  background-color: #0468bf;
}

.bg-gray {
  background-color: #c8c8c8;
}

.bg-dark {
  background-color: #000;
}

.bg-light {
  background-color: #c4dcf0;
}

.bg-white {
  background-color: #fff;
}

.text-primary {
  color: #0468bf;
}

.text-gray {
  color: #c8c8c8;
}

.text-dark {
  color: #000;
}

.text-light {
  color: #c4dcf0;
}

.text-white {
  color: #fff;
}

.box {
  padding-top: 70px;
  padding-left: 20px;
  height: 116px;
}

/* typography */
.ff-sans-cond {
  font-family: "Cairo", sans-serif;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

.large-button {
  position: relative;
  display: grid;
  place-items: center;
  padding-inline: 1em;
  aspect-ratio: 1;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  text-decoration: none;
  z-index: 1;
}

.border-none {
  border: none !important;
}

/* Colors */
:root {
  --fs-900: 5rem;
  --fs-800: 2rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1.15rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --fs-200: 0.7rem;
}

@media (max-width: 599px) {
  :root {
    --fs-900: 1.5rem;
    --fs-800: 1.15rem;
    --fs-700: 1rem;
    --fs-600: 0.9rem;
    --fs-500: 0.8rem;
    --fs-400: 0.75rem;
    --fs-300: 0.75rem;
    --fs-200: 0.65rem;
  }
}
/* font-families */
button {
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: var(--fs-400);
}

.btn {
  width: 100%;
  padding: 0.5rem 3rem;
  border-radius: 1.5rem;
}
@media (max-width: 899px) {
  .btn {
    padding: 0.5rem;
  }
}

.btn-large {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #c8c8c8;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  /* Rounded sliders */
}
@media (max-width: 899px) {
  .switch {
    width: 50px;
    height: 26px;
  }
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.4s;
}
@media (max-width: 899px) {
  .switch .slider:before {
    height: 22px;
    width: 22px;
    left: 1px;
    bottom: 2px;
  }
}
.switch input:checked + .slider {
  background-color: #0468bf;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #0468bf;
}
.switch input:checked + .slider:before {
  transform: translateX(26px);
}
.switch .slider.round {
  border-radius: 34px;
}
.switch .slider.round:before {
  border-radius: 50%;
}

/* Colors */
:root {
  --fs-900: 5rem;
  --fs-800: 2rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1.15rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --fs-200: 0.7rem;
}

@media (max-width: 599px) {
  :root {
    --fs-900: 1.5rem;
    --fs-800: 1.15rem;
    --fs-700: 1rem;
    --fs-600: 0.9rem;
    --fs-500: 0.8rem;
    --fs-400: 0.75rem;
    --fs-300: 0.75rem;
    --fs-200: 0.65rem;
  }
}
/* font-families */
table,
th,
td {
  border: 1px solid #c8c8c8;
  border-collapse: collapse;
  padding: 0.3rem 0.75rem;
}

table {
  direction: ltr;
  width: 95%;
  margin: 2rem auto 4rem auto;
}

caption {
  margin-bottom: 1rem;
}

td:nth-child(1),
td:nth-child(5),
td:nth-child(4) {
  width: 10%;
  text-align: center;
}

td:nth-child(2) {
  width: 40%;
}

td:nth-child(3) {
  width: 30%;
}

td:nth-child(5).false {
  color: red;
}
td:nth-child(5).true {
  color: green;
}

tfoot {
  background-color: #c8c8c8;
}

#table-back,
#table-forward {
  font-weight: 800;
  font-size: var(--fs-600);
  background-color: inherit;
  width: 100%;
}

#table-back.disable,
#table-forward.disable {
  color: red;
}

/* Colors */
:root {
  --fs-900: 5rem;
  --fs-800: 2rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1.15rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --fs-200: 0.7rem;
}

@media (max-width: 599px) {
  :root {
    --fs-900: 1.5rem;
    --fs-800: 1.15rem;
    --fs-700: 1rem;
    --fs-600: 0.9rem;
    --fs-500: 0.8rem;
    --fs-400: 0.75rem;
    --fs-300: 0.75rem;
    --fs-200: 0.65rem;
  }
}
/* font-families */
.container--subjects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-items: start;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 15px;
}
@media (max-width: 899px) {
  .container--subjects {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
    width: 0;
    overflow: hidden;
    transition: width 500ms linear;
  }
}
@media (max-width: 899px) {
  .container--subjects.active {
    width: 60vw;
  }
}

.subject--header {
  margin-bottom: 2.5rem;
}
.subject--header .logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 1rem auto;
}
@media (max-width: 899px) {
  .subject--header .logo {
    display: none;
  }
}
.subject--header .logo--img {
  background-color: white;
  border-radius: 100%;
  margin-right: 1rem;
}
.subject--header .professor-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 10%;
}
.subject--header .professor-info--img {
  width: 80%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  cursor: pointer;
}
@media (max-width: 899px) {
  .subject--header .professor-info--title {
    display: none;
  }
}

.subject--list .header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-right: 5px;
  margin-bottom: 0.25rem;
}
.subject--list .list {
  display: flex;
  flex-direction: column;
}
.subject--list .list--item {
  padding: 0.85rem 1.5rem 0.85rem 0;
  cursor: pointer;
  margin: 0;
  border-bottom: 1px solid #fff;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.subject--list .list--item:hover {
  background-color: #c8c8c8;
  color: #000;
  border-color: #0468bf;
}
.subject--list .list--item.active {
  background-color: #fff;
  color: #000;
  border-color: #0468bf;
}

.subject--buttons-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 10%;
}

#userImg {
  display: none;
}
@media (max-width: 899px) {
  #userImg {
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0.75rem;
    background-color: #0468bf;
  }
}

@media (max-width: 899px) {
  #btnUser {
    position: fixed;
    z-index: 200;
    top: 3px;
    left: 5px;
    width: 50px;
  }
}
/* Colors */
:root {
  --fs-900: 5rem;
  --fs-800: 2rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1.15rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --fs-200: 0.7rem;
}

@media (max-width: 599px) {
  :root {
    --fs-900: 1.5rem;
    --fs-800: 1.15rem;
    --fs-700: 1rem;
    --fs-600: 0.9rem;
    --fs-500: 0.8rem;
    --fs-400: 0.75rem;
    --fs-300: 0.75rem;
    --fs-200: 0.65rem;
  }
}
/* font-families */
.container--lectures {
  padding: 2rem 0.5rem 0.3rem 0.5rem;
}
@media (max-width: 899px) {
  .container--lectures {
    padding: 1rem 0.5rem;
  }
}
.container--lectures h1 {
  text-align: center;
  margin-bottom: 2rem;
}
@media (max-width: 899px) {
  .container--lectures h1 {
    display: none;
  }
}
.container--lectures .lectures {
  max-height: 88vh;
  overflow: scroll;
  scrollbar-width: none;
  display: inline-flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-items: center;
}
@media (max-width: 899px) {
  .container--lectures .lectures {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    overflow: scroll;
  }
}
.container--lectures .lectures--card,
.container--lectures .lectures .general {
  width: 70%;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid gray;
}
.container--lectures .lectures .general {
  padding: 0.75rem 0;
  text-align: center;
  font-weight: 700;
}
.container--lectures .lectures--card {
  padding: 1rem 1.5rem;
  height: 180px;
  cursor: pointer;
  transition: background-color 700ms ease;
}
@media (max-width: 899px) {
  .container--lectures .lectures--card {
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0.3rem;
  }
}
@media (max-width: 599px) {
  .container--lectures .lectures--card {
    display: flex;
    gap: 0.5rem;
  }
}
.container--lectures .lectures--card:hover, .container--lectures .lectures--card.active {
  background-color: #c8c8c8;
}
.container--lectures .lectures--card h2 {
  font-size: var(--fs-800);
  font-weight: 700;
}
@media (max-width: 899px) {
  .container--lectures .lectures--card h2 {
    font-size: var(--fs-600);
    display: inline;
    font-weight: 600;
  }
}
.container--lectures .lectures--card .number {
  font-size: var(--fs-800);
  font-weight: 700;
  line-height: 40px;
  display: block;
}
@media (max-width: 899px) {
  .container--lectures .lectures--card .number {
    font-size: var(--fs-600);
    display: inline;
    font-weight: 600;
  }
}
@media (max-width: 599px) {
  .container--lectures .lectures--card .number {
    line-height: 10px;
  }
}
.container--lectures .lectures--card .date {
  display: inline-block;
  direction: ltr;
  margin-top: 1.5rem;
  font-weight: 600;
}
@media (max-width: 899px) {
  .container--lectures .lectures--card .date {
    display: block;
    margin-top: 0;
  }
}
@media (max-width: 599px) {
  .container--lectures .lectures--card .date {
    display: none;
  }
}

/* Colors */
:root {
  --fs-900: 5rem;
  --fs-800: 2rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1.15rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --fs-200: 0.7rem;
}

@media (max-width: 599px) {
  :root {
    --fs-900: 1.5rem;
    --fs-800: 1.15rem;
    --fs-700: 1rem;
    --fs-600: 0.9rem;
    --fs-500: 0.8rem;
    --fs-400: 0.75rem;
    --fs-300: 0.75rem;
    --fs-200: 0.65rem;
  }
}
/* font-families */
.container--attendances {
  overflow: scroll;
}
.container--attendances header .lec-info {
  padding: 2rem 2.5rem;
}
@media (max-width: 899px) {
  .container--attendances header .lec-info {
    align-items: start;
    justify-content: space-between;
    padding: 0.75rem;
  }
}
.container--attendances header .lec-info .description {
  margin-top: 1rem;
}
@media (max-width: 899px) {
  .container--attendances header .lec-info .description {
    margin-top: 0.2rem;
  }
}
.container--attendances header .lec-info .date {
  margin: auto;
}
@media (max-width: 899px) {
  .container--attendances header .lec-info .date {
    margin: 0;
  }
}
.container--attendances header .lec-info .date span {
  font-weight: 400;
}
.container--attendances .lec-control {
  margin: 2rem;
}
.container--attendances .lec-control--box {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, minmax(200px, 250px));
  grid-template-areas: "img btnMax btnUpload" "img btnActivate date";
  margin-bottom: 2rem;
}
@media (max-width: 899px) {
  .container--attendances .lec-control--box {
    gap: 1.5rem;
    grid-template-columns: minmax(120px, 170px) 1fr 1fr;
    grid-template-areas: "img btnMax" "img btnUpload" "img date" "img btnActivate";
  }
}
@media (max-width: 599px) {
  .container--attendances .lec-control--box {
    gap: 0.75rem;
    grid-template-columns: minmax(120px, 170px) 1fr;
  }
}
.container--attendances .lec-control--box--img {
  margin-inline: 2rem;
  grid-area: img;
}
@media (max-width: 899px) {
  .container--attendances .lec-control--box--img {
    margin-inline: 0;
  }
}
.container--attendances .lec-control--box--max {
  grid-area: btnMax;
}
.container--attendances .lec-control--box--upload {
  grid-area: btnUpload;
}
.container--attendances .lec-control--box--max, .container--attendances .lec-control--box--upload {
  height: 50px;
  align-self: flex-end;
}
@media (max-width: 899px) {
  .container--attendances .lec-control--box--max, .container--attendances .lec-control--box--upload {
    height: 40px;
    align-self: flex-start;
  }
}
.container--attendances .lec-control--box--activate {
  grid-area: btnActivate;
}
@media (max-width: 899px) {
  .container--attendances .lec-control--box--activate {
    gap: 0.5rem;
    justify-self: center;
  }
}
.container--attendances .lec-control--box--date {
  grid-area: date;
}
@media (max-width: 899px) {
  .container--attendances .lec-control--box--date h3 {
    display: none;
  }
}
.container--attendances .lec-control--box--date input {
  font-weight: 800;
  text-align: center;
  outline-color: #0468bf;
}
@media (max-width: 899px) {
  .container--attendances .lec-control--box--date input {
    font-weight: 600;
  }
}
.container--attendances .lec-table .header {
  text-align: center;
}
@media (max-width: 899px) {
  .container--attendances .lec-table .header {
    font-size: var(--fs-400);
  }
}

/* Colors */
:root {
  --fs-900: 5rem;
  --fs-800: 2rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1.15rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --fs-200: 0.7rem;
}

@media (max-width: 599px) {
  :root {
    --fs-900: 1.5rem;
    --fs-800: 1.15rem;
    --fs-700: 1rem;
    --fs-600: 0.9rem;
    --fs-500: 0.8rem;
    --fs-400: 0.75rem;
    --fs-300: 0.75rem;
    --fs-200: 0.65rem;
  }
}
/* font-families */
/* ------------ sections container ----------------- */
.container {
  display: grid;
  grid-template-columns: clamp(260px, 18vw, 300px) clamp(280px, 20vw, 320px) minmax(500px, 1fr);
  grid-template-rows: 100vh;
  grid-template-rows: 100dvh;
}
@media (max-width: 899px) {
  .container {
    display: flex;
    flex-direction: column;
    grid-template-rows: auto;
  }
}/*# sourceMappingURL=style.css.map */