@use 'sass/myStyleFramework';
@use 'sass/buttons';
@use 'sass/table';
@use 'sass/sections/subjects';
@use 'sass/sections/lectures';
@use 'sass/sections/attendances';
@import 'sass/variables';
@import 'sass/responsive';

/* ------------ sections container ----------------- */
.container {
  display: grid;
  grid-template-columns: minmax(200px, 300px) minmax(300px, 370px) minmax(
      500px,
      1fr
    );
  grid-template-rows: 100vh;
  grid-template-rows: 100dvh;

  @include tablet-portrait {
    display: flex;
    flex-direction: column;
    grid-template-rows: auto;
  }
}
