@use 'sass/myStyleFramework';
@use 'sass/buttons';
@import 'sass/variables';

/* ------------ sections container ----------------- */
.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: minmax(200px, 300px) minmax(300px, 370px) minmax(
      500px,
      1fr
    );
}

.container--subjects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-items: start;

  header {
    margin-bottom: 2.5rem;

    .logo {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      margin: 1rem auto;
      img {
        background-color: white;
        border-radius: 100%;
      }
    }

    .professor-info {
      text-align: center;
      img {
        margin: auto;
        width: 150px;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 100%;
      }
    }
  }

  .header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-right: 5px;
    margin-bottom: 0.25rem;
  }

  .list-container {
    .list {
      // display: flex;
      // flex-direction: column;

      &--item {
        padding: 0.85rem 1.5rem 0.85rem 0;
        cursor: pointer;
        margin: 0;
        border-bottom: 1px solid $clr-white;
        &:hover {
          background-color: $clr-white;
          color: $clr-dark;
        }
      }
    }
  }

  .buttons-box {
    width: 80%;
    margin: auto;
  }
}

.container--lectures {
  padding: 2rem;
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .lectures {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    &--card,
    .general {
      width: 80%;
      background-color: $clr-white;
      border-radius: 0.5rem;
      border: 1px solid gray;
    }

    .general {
      padding: 0.75rem 0;
      text-align: center;
      font-weight: 700;
    }

    &--card {
      padding: 1rem 1.5rem;
      height: 180px;
      cursor: pointer;

      h2 {
        font-size: $fs-700;
        font-weight: 700;
      }
      .number {
        font-size: $fs-800;
        font-weight: 700;
        line-height: 40px;
        display: block;
      }

      .date {
        display: inline-block;
        direction: ltr; // the text is ordered arabic way so I do this to avoid these behaver
        margin-top: 1.5rem;
        font-weight: 600;
      }
    }
  }
}

.container--attendance {
  header {
    .lec-info {
      padding: 2rem 2.5rem;

      .description {
        margin-top: 1rem;
      }

      .date {
        margin: auto;
        span {
          font-weight: 400;
        }
      }
    }
  }

  .lec-control {
    margin: 2rem;

    &--box {
      margin-bottom: 2rem;

      .img {
        width: 200px;
        margin-inline: 2rem;
      }
    }
  }

  .lec-table {
    .header {
      text-align: center;
    }
  }
}
