@use 'sass/myStyleFramework';
@use 'sass/buttons';
@import 'sass/variables';

/* ------------ sections container ----------------- */
.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: minmax(200px, 300px) minmax(300px, 400px) minmax(
      500px,
      1fr
    );
}
