@import '../variables';

.container--attendances {
  header {
    .lec-info {
      padding: 2rem 2.5rem;

      .description {
        margin-top: 1rem;
      }

      .date {
        margin: auto;
        span {
          font-weight: 400;
        }
      }
    }
  }

  .lec-control {
    margin: 2rem;

    &--box {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(3, minmax(200px, 250px));
      // grid-template-rows: repeat(2, 80px);
      grid-template-areas: 'img btnMax btnUpload' 'img btnActivate date ';
      margin-bottom: 2rem;

      &--img {
        margin-inline: 2rem;
        grid-area: img;
      }
      &--max {
        grid-area: btnMax;
      }
      &--upload {
        grid-area: btnUpload;
      }
      &--max,
      &--upload {
        align-self: flex-end;
        height: 50px;
      }
      &--activate {
        grid-area: btnActivate;
      }
      &--date {
        grid-area: date;

        input {
          font-size: $fs-600;
          font-weight: 800;
          text-align: center;
          outline-color: $clr-primary;
        }
      }
    }
  }

  .lec-table {
    .header {
      text-align: center;
    }
  }
}
